.AddPropertyContainer {
  position: fixed;
  height: 100%;
  width: 100%;
}

.AddPropertyContainer img {
  position: fixed;
  height: auto;
  width: 100%;
  filter: blur(3px);
}

.add-property-form {
  position: relative;
  top: 50%;
  transform: translateY(-56%);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 60vh;
  width: 40vw;
  border-radius: 5px;
}

.description-box,
.input-box {
  width: 500px;
  padding: 15px;
  margin: auto;
  font-size: 13pt;
  border-radius: 5px;
  border: #a5a3a3 1px solid;
  outline: none;
}

.form-line-two {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.drop-selection {
  width: 250px;
  padding: 10px;
  font-size: 13pt;
  text-transform: uppercase;
  border-radius: 5px;
  border: #a5a3a3 1px solid;
  background-color: #f9f9f9;
}

.form-line-three {
}

input[type='range']::-ms-track {
  background-color: blue;
}

.add-prop-button {
  background-color: #5b96e0;
  color: white;
  width: 15%;
  height: 10%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.add-prop-button:hover {
  cursor: pointer;
}
