.AddPropertyContainer {
  position: fixed;
  height: 100%;
  width: 100%;
}

.AddPropertyContainer img {
  position: fixed;
  height: auto;
  width: 100%;
  filter: blur(8px);
}

.add-property-form {
  position: relative;
  top: 50%;
  transform: translateY(-56%);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f3ede4e5;
  height: 70vh;
  width: 35vw;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

fieldset {
  text-transform: uppercase;
  border: 1px solid #937f56;
}

.description-box,
.input-box {
  width: 500px;
  padding: 15px;
  margin: auto;
  font-size: 13pt;
  border-radius: 5px;
  border: #7f941b 1px solid;
  outline: none;
}

.input-box {
  width: 250px;
}

.form-line-two {
  width: 100%;
  display: flex;
  justify-content: center;
}

.drop-selection {
  width: 246px;
  padding: 15px;
  font-size: 13pt;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: #7f941b 1px solid;
  background-color: #fff;
}

.form-line-three {
  width: 100%;
  display: flex;
  justify-content: center;
}

.beds-container,
.baths-container {
  width: 246px;
  margin-right: 20px;
  margin-left: 20px;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 200px;
  height: 1px;
  background-color: #937f56;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #7f941b;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.add-prop-button:hover {
  cursor: pointer;
}

.fas {
  font-size: 14pt;
  color: #937f56;
  margin-right: 20px;
}

.fa-tags,
.fa-envelope {
  margin-left: -40px;
}

.add-prop-button {
  background-color: #7f941b;
  color: white;
  width: 150px;
  height: 10%;
  border: none;
  font-size: 11pt;
  border-radius: 5px;
  text-transform: uppercase;
}
