.FavouriteCard {
  width: 60vw;
  height: 7.5vh;
  padding-left: 20px;
  display: flex;
  border-radius: 5px;
  border: none;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}

.favourite-details {
  width: 80%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40% 20% 10% 10% 20%;
  text-transform: capitalize;
}

.favourite-title {
  font-weight: 700;
  text-transform: uppercase;
}

.favourite-email {
  height: 100%;
  width: 7.5%;
  background-color: #7f941b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fap {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  font-size: 20pt;
}

.remove-btn {
  border-radius: 0 5px 5px 0;
  border: none;
  height: 100%;
  width: 7.5%;
  font-size: 20pt;
  color: #f5f5f5;
  background-color: rgb(255, 21, 21);
  cursor: pointer;
}
