.outer-navbar {
  background-color: #fff;
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #7f941b 1px solid;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0);
  position: relative;
  z-index: 1;
}

img {
  height: 7.5vh;
}

.item {
  margin-right: 50px;
  margin-left: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.item:hover {
  border-bottom: 2px solid #7f941b;
  padding-bottom: 2px;
}

.item:hover {
  cursor: pointer;
}

#fb-login-btn {
  background-color: #7f941b;
}

.my-facebook-button-class,
.fb-logout-btn {
  background-image: linear-gradient(to bottom, #7f941b, #687916);
  color: #f3ede4e5;
  height: 7.5vh;
  width: 12vw;
  font-size: 13pt;
  font-family: 'Roboto';
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.fb-logout-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fb-profile-pic {
  height: 4vh;
  width: 2vw;
  border-radius: 50%;
  border: 2px solid #f3ede4e5;
}

.fa-fort-awesome {
  color: #937f56;
  font-size: 20pt;
  margin-left: 20px;
}

.logo-title {
  color: black;
  font-size: 20pt;
  color: #937f56;
  margin-left: 10px;
  font-family: 'Patrick Hand SC';
}
