.Properties {
  display: flex;
  background-image: linear-gradient(to bottom, #050505ea, rgba(0, 0, 0, 0.198)),
    url('../properties-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.property-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.cards-display {
  display: flex;
  flex-flow: row wrap;
}
