.PropertyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  height: 50vh;
  border-radius: 5px;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 60px;
  line-height: 25px;
  box-shadow: 2px 2px 20px #888;
  transition: 0.3s;
}

.PropertyCard:hover {
  transform: scale(1.02);
}

.property-image {
  border-radius: 5px 5px 0 0;
  width: 20vw;
  height: 30vh;
  opacity: 1;
}

.card-title {
  font-weight: 700;
  text-transform: uppercase;
}

.card-type {
  font-style: italic;
}

.card-price::after {
  content: ' £';
}

.card-city {
  color: #937f56;
  font-weight: bold;
}

.email-btn {
  text-decoration: none;
  color: #f3ede4e5;
  background-image: linear-gradient(to bottom, #7f941b, #687916);
  width: 20vw;
  padding: 20px 0 20px 0;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
}

.fa-envelope {
  margin-right: 10px;
  font-size: 15pt;
}

.save-button {
  color: white;
  font-size: 20pt;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  outline: none;
}

.save-button:active {
  color: rgba(255, 0, 0);
}
