.PropertyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 40vh;
  border: 1px solid black;
  background-color: white;
  margin: 1vw;
}

.card-title {
  font-weight: 700;
  text-transform: uppercase;
}

.card-price::after {
  content: ' £';
}
