.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7f941b;
  width: 30vw;
  height: 92.4vh;
}

.option {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
