.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #726243, #413825);
  width: 30vw;
  height: 92.4vh;
}

.option {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}
